body{

    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Montserrat-Bold', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p{
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    color: #212427;
}


/*Headings*/
.big-heading{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/*Containers*/

.container-fluid {
    padding: 7% 15%;
}


    /*Navigation Bar*/
.navbar{
    padding: 0 0 2.5rem;
}
.navbar-toggler{
    background-color: #0150FF;
}
.navbar-toggler:hover{
    background-color: #D0E4FF;
    transition: 0.2s;
}


.navbar-brand img {
    max-width: 200px; /* Adjust the value as needed */
    height: auto; /* This maintains the original aspect ratio */
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #212427;
}
.nav-link:hover{
    color: #0150FF;
}

/*Title Section*/
#title{
    size: portrait;
    background-color: #F5F5F5FF;
    color: #212427;
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}


    /*Downoload Buttons*/
.downoload-button{
    margin: 5% 3% 5% 0;
}
.btn-dark{
    transition: 0.2s;
    background-color: #0150FF;
    border-color: #0150FF;
}
.btn-dark:hover{
    background-color: #D0E4FF;
    border-color: transparent;
    color: #212427;
}

    /*Title Image*/

.title-img {
    width: 70%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;

}
.iphone-img{
    position: relative;
}

    /*Features*/
#features{
    background-color: #D9D9D9;
    position: relative;
    z-index: 1;
}
.feature-title{
    font-size: 1.5rem;
}


.feature-box{
    margin-bottom: 50px;
}
.icon-features{
    margin-bottom:1rem;
    font-size: 4rem;
    color:#0150FF;
}

.icon-features:hover{
    cursor: grab;
    color: #D0E4FF;
}



    /*Testimonials Section*/

#testimonials{
    background-color: #D9D9D9;
    color: #212427;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 4rem;
    height: 4rem;
}

/*Pricing*/

#pricing{
    background-color: #f5f5f5;
    padding: 100px;
}
.price-text{
    font-size: 2rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}
.card-body-elements{
    padding: 0.3rem 0;
}



/*Call To Action*/
#cta{
    background-color: #D9D9D9;
    color: #212427;
}


/*Team*/
#team{
    color: #212427;
}
.team-text{
    font-size: 2rem;
    width: 100%;
}


.img-Ilona{
    width: 80%;
}


/*Contact*/
#сontact {
    background-color: #f5f5f5; /* Set the background color as needed */
    padding: 100px 100px 0; /* Add padding around the content */
    overflow: hidden;
}

.col-lg-6 iframe {
    width: 100%;
    height: 350px;
    border: none; /* Remove border around the iframe */
    border-radius: 10px; /* Add rounded corners to the iframe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for a nice effect */
    margin-top: 30px;

}

.contact-h3{
    margin: 30px auto;
}
.contact-list{
    margin: 30px auto;
    text-align: left;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.contact-listElements{
    margin-bottom: 10px;
}
.contact-list a {
    color: #0150FF;
    text-decoration: none;
    transition: color 0.2s;
}
.contact-list a:hover {
    color: #FFDE00;
    text-decoration: underline;
}



/*Footer Section*/
#footer{
    padding: 4% 15%;
    background-color: #f5f5f5;
}

.fa-xl{
    margin: 10px 10px 20px;
    transition: 0.2s;
}
.fa-xl:hover{
    color: #212427;
}
.footer-logo{
    max-width: 100px;
}




/*Mobile*/
@media (max-width: 991px) {
    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
    }
    .contact-h3{
        margin-top: 40px;
    }
}